body{
    background-color: rgb(65, 140, 89);
}

#layout{
  
    height: 125px;
    background-color: rgb(62, 25, 85);
    position: fixed;
    top: 0;
    width: 100%; 
}

#logo{
    height: 110px;
    width: 10%;
    padding-left: 100px;
    padding-top: 10px;
}

#topicos{
  
    float: right;
    padding-bottom: 100px;
    margin-top: -80px;
    margin-right: 100px;
}

a{
    text-decoration: none;
}